@using MVCTechnoWorld.Models
@model IEnumerable<AccessoryAllViewModel>
@{ ViewData["Title"] = "All"; }

<h1> All Accessory</h1>
<p>
    <a asp-action="Create"> Create New Accessory</a>
</p>
<form asp-controller="Accessory" asp-action="All" method="get">
    <p>
        Type: <input type="text" name="SearchStringType" />

        @*Brand: <input type="text" name="SearchStrinBrand" />

        Price: <input type="text" name="SearchStringPrice" />*@
        <input type="submit" value="Filter" <button type="button" class="btn btn-info"></button> 


    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Type)
            </td>
            <td>
                @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(model => item.Brand)
            </td>

            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                <img src="@Html.DisplayFor(model => item.Picture)" alt="Image" width="100px" />
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(model => item.Discount)
            </td>
           

            <td>
                <a asp-action="Edit" asp-controller="Accessory" asp-route-id="@item.Id">
                    Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-screwdriver" viewBox="0 0 16 16">
                        <path d="m0 1 1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z" />
                    </svg>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    Delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </a>
            </td>

        </tr>
        }
        <style>
            h1 {
                border-bottom: 2px solid dodgerblue;
            }

            input {
                value-color:
            }
            /*     main {
                border-width: 3px;
                border-color: dodgerblue;
                border-style: solid;
            }
            table, th, td, tr {
                border: 1px solid dodgerblue;
                border-collapse: collapse;
            }*/
        </style>
    </tbody>
</table>
