@model IEnumerable<TechnoWorld.Models.Order.OrderListingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All orders in site</h1>

<p>
    <a asp-action="All" asp-controller="Products">Order more products</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
       
            <th>
               Brand
            </th>
            <th>
                User
            </th>
            <th>
               Count
            </th>
            <th>
               OrderedOn
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageId" />
                   
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
        </tr>
}
    </tbody>
</table>
