@model IEnumerable<TechnoWorld.Models.Order.OrderListingViewModel>

@{ ViewData["Title"] = "My"; }

<h1>My Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>

            <th>
                Model
            </th>
            <th>
                User
            </th>
            <th>
                Count
            </th>
            <th>
                OrderedOn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.ImageUrl" width="100" />
            </td>
           
            <td>
                @item.Brand @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
        </tr>
}
    </tbody>
</table>

