@model TechnoWorld.Models.Products.ProductPromotionViewModel

@{ ViewData["Title"] = "Discount";
    }

<h1 class="text-center">Make Discount</h1>

<div id="detailsDiv" class="text-center">
       
   
    

        <div>
            <h2 id="productTitle">
                @Model.BrandId @Model.Model 
            </h2>
            <div class="b-inline-top details-item-price">
                <h5>Old price</h5>

                <span id="oldPrice">@Model.OldPrice</span>
                <span> lv.</span>
                <hr />
            </div>
            <div class="b-inline-top details-item-price">
                <h5>New price</h5>
                
                <span id="newPrice">@Model.NewPrice</span>
                <span> lv.</span>
                <hr />
            </div>
            <div>
                <form asp-action="MakeDiscount" asp-controller="Products" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div>
                        <label>Enter percentages: </label>
                        <input class="form-control m-auto text-center" asp-for="Discount" id="productDiscount" min=0 style="width: 160px" onchange="CalculateDiscount()" placeholder="Enter percentages" value="" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="d-block mt-4">
                        <button type="submit" class="btn btn-success">Make Discount</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function CalculateDiscount() {
        let discount = parseFloat(document.getElementById('productDiscount').value)
        let oldPrice = parseFloat(document.getElementById('oldPrice').textContent)
        document.getElementById('newPrice').textContent = (oldPrice - oldPrice * discount / 100)
    }</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
